<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BorsaTakip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Levent\Desktop\Yazılım Mühendisliği\BorsaTakip\BorsaTakip\bin\Debug\DB\dbBorsa.accdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <userSettings>
    <BorsaTakip.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="PassWord" serializeAs="String">
        <value />
      </setting>
    </BorsaTakip.Properties.Settings>
  </userSettings>
</configuration>